@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: url("./../assets/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

h2,
p,
span {
  font-family: "Red Hat Display", sans-serif;
}

.blur-container {
  width: 272px;
  height: 40px;
  position: absolute;
  filter: blur(9px);
  top: 38px;
  border-radius: 10px;
  background-color: hsla(245, 75%, 52%, 0.2);
  z-index: 1;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 30px;
  position: relative;
}

.buttons-container button:nth-child(1) {
  background-color: var(--bright-blue);
  border-radius: 10px;
  border: none;
  color: var(--very-pale-blue);
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 30px;
  padding: 10px 0px 10px 0px;
  z-index: 2;
}

.buttons-container button:nth-child(1):hover {
  background-color: hsla(245, 75%, 52%, 0.7);
}

.buttons-container button:nth-child(3) {
  background: none;
  border: none;
  color: var(--desaturated-blue);
  font-weight: 900;
}

.buttons-container button:nth-child(3):hover {
  color: var(--dark-blue);
}

.card-container {
  width: 330px;
  margin: auto;
  border-radius: 20px;
  background-color: var(--very-pale-blue);
  overflow: hidden;
}

.img-container img {
  width: 100%;
  margin: auto;
}

.info-container {
  width: 260px;
  margin: auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.info-container h2 {
  padding-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 900;
}

.info-container p {
  font-weight: 500;
  color: var(--desaturated-blue);
  line-height: 1.8;
}

.option-container a {
  text-decoration: none;
}

.option-container span {
  color: var(--bright-blue);
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
}

.option-container span:hover {
  color: var(--desaturated-blue);
}

.plan-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsla(225, 100%, 94%, 0.7);
  border-radius: 15px;
  width: 284px;
  height: 100px;
  margin: auto;
  font-weight: 700;
}

.plan-container p:nth-child(2) {
  color: var(--desaturated-blue);
  font-weight: 500;
}

.price-container p:nth-child(1) {
  padding-bottom: 5px;
}

@media only screen and (min-width: 600px) {
  body {
    background-image: url("./../assets/pattern-background-desktop.svg");
  }
}
